@page
@model OrderModel

@{
    ViewData["Title"] = "Order Roll Calls";
}

<form method="post">
    <table>
        <thead>
            <tr>
                <th style="width: 40px;">Name</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model._pairs.Count; i++)
            {
                <tr>
                    <td>@Model._pairs[i].Name</td>
                    <td>
                        <input type="hidden" name="pairs[@i].Name" value="@Model._pairs[i].Name" />
                        <select name="pairs[@i].Position">
                            @for (int j = 1; j <= 10; j++)
                            {
                                <option value="@j" selected="@(Model._pairs[i].Position == j)">@j</option>
                            }
                        </select>
                    </td>
                </tr>
            }
        </tbody>
    </table>
	<br />
    <button type="submit">Submit</button>
</form>